* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --bc-main: #e3e3e3;
  --bc-wht: #fff;
  --bc-blk: #000;
  --primary-dark: #1a171d;
  --font: "Poppins", sans-serif;
  --font-ct: #b8b8b8;
  --ease: all 0.4s ease-in-out;
}

body {
  background-color: var(--bc-main);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dashboard {
  background-color: #0e0b11;
  height: 500px;
  width: 1000px;
  font-family: var(--font);
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;

  
}
.dashboard-right{
  position: relative;
    height: 100%;
    flex: 1;
}
.left-task {
  display: flex;
    flex-direction: column;

  
}
.left-header h3{
  
      color: #f8f8f8;
      font-size: 1.3em;
    
}
.dashboard-left{
  display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 35%;
    min-width: 344px;
    padding: 25px;
    background-color: var(--primary-dark);
}
.task-input-input{
  padding: 12px 15px;
    background-color: #f7f7f726;
    font-family: inherit;
    border: none;
    border-radius: 2px;
    color: var(--font-ct);
    margin-bottom: 0.5em;
    transition: var(--ease);
}
.task-label{
  color: #d2cfcf;
    font-family: inherit;
    font-size: 0.8em;
    margin-bottom: 0.3em;
}
.task-item{
  margin: 1em 0;
    display: flex;
    flex-direction: column;
}
.task-add{
  padding: 10px;
    outline: none;
    background: #ffe6a7;
    font-family: inherit;
    border: none;
    font-size: 0.9em;
    border-radius: 2px;
    cursor: pointer;
}
.task-input {
  &-input {
    padding: 12px 15px;
    background-color: #f7f7f726;
    font-family: inherit;
    border: none;
    border-radius: 2px;
    color: var(--font-ct);
    margin-bottom: 0.5em;
    transition: var(--ease);

    &:focus {
      transition: var(--ease);
      background-color: var(--bc-wht);
      color: var(--primary-dark);
    }
  }

  &-label {
    color: #d2cfcf;
    font-family: inherit;
    font-size: 0.8em;
    margin-bottom: 0.3em;
  }

  &-item {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }

  &-add {
    padding: 10px;
    outline: none;
    background: #ffe6a7;
    font-family: inherit;
    border: none;
    font-size: 0.9em;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: #ffdf8f;
    }
  }
}

.right-list{
  
    padding: 20px;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar{
      display: none;
    }

    h3 {
      color: #b8b8b8;
      margin-bottom: 1em;
      font-size: 1em;
    
  }
}
.list-flex-item{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
  
    background-color: var(--primary-dark);
    margin-bottom: 0.5rem;
    border-radius: 6px;
    font-size: 0.85em;
    color: var(--bc-wht);
    transition: var(--ease);
}
.list-flex:hover{
  background-color: #f7f7f71a;
    transition: var(--ease);
}
.list-flex-type{
  padding: 3px 11px;
    border-radius: 100px;
    background-color: #ffda6d;
    color: var(--primary-dark);
    font-size: 0.84em;
}
.list-flex-value{
  width: 200px;
}
.list-flex-remove{
  display: flex;
  
    img {
      height: 20px;
      width: 30px;
    }
}
.list-flex-remove:hover{
color: #ff4646;
  cursor: pointer;
}
.list-flex{
  
    display: flex;
    flex-direction: column;

    
  }

.verify-btns{
  margin-left: auto;
}
.verify-btn{
margin: 0 0.25em;
  padding: 4px 10px;
  color: var(--primary-dark);
  background-color: #cacaca;
  cursor: pointer;
  border-radius: 4px;
}
.verify {
  position: absolute;
  width: 360px;
  right: 15px;
  bottom: 15px;
  background-color: var(--bc-main);
  border-radius: 4px;
  display: none;
  padding: 15px 10px;
  align-items: center;
  font-size: 0.84em;
  color: var(--primary-dark);

  

  
}